<div class="backdrop-blur-sm border-2 rounded  border-white self-center py-5 content-center px-10 w-11/12 mt-5 h-fit">
<%= link_to "Odin Flight Booking", root_path, class:"rounded-lg w-full text-6xl font-sans text-blue-950 font-bold italic mx-10 hover:backdrop-blur-xl transition-all"%>
</div>
<div class="backdrop-blur-sm border-2 rounded  border-white self-center py-5 content-center px-10 w-11/12 mt-5 h-fit">
<h1 class="text-6xl py-5">Booking Created Successfully</h1>
<%= link_to 'Return Home', root_path,class:"bg-green-500 p-2 hover:bg-green-700 rounded" %>
</div>